[package]
name = "moksha-cli"
version = "0.1.2"
edition = "2021"
resolver = "2"
repository = "https://github.com/ngutech21/moksha"
license = "MIT"
description = "cashu-cli wallet"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "moksha-cli"

[dependencies]
moksha-wallet = { version = "0.1.2", path = "../moksha-wallet" }
clap = { version = "4.4.7", features = ["derive"] }
tokio = { version = "1.32.0", features = ["rt", "rt-multi-thread", "macros"] }
url = "2.4.1"
anyhow = { version = "1.0.75", features = ["backtrace"] }
