[package]
name = "integrationtests"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[test]]
name = "integrationtests"
path = "tests/tests.rs"

[lib]
name = "lnbitsmock"
path = "src/lnbitsmock.rs"

[dependencies]
rand = "0.8.5"
axum = "0.6.19"
anyhow = { version = "1.0.72", features = ["backtrace"] }
serde = { version = "1.0.181", features = ["derive"] }
serde_derive = "1.0.180"
serde_json = "1.0.103"
lightning-invoice = "0.23.0"
lightning = "0.0.115"
hyper = { version = "0.14", features = ["full"] }
bitcoin_hashes = { version = "0.11.0", default-features = false }
secp256k1 = { version = "0.24.0", default-features = false, features = ["recovery", "alloc", "rand"] }
tracing = "0.1.37"

[target.'cfg(not(target_family="wasm"))'.dependencies]
tokio = { version = "1.29.1", features = ["sync", "rt"] }

[dev-dependencies]
anyhow = { version = "1.0.72", features = ["backtrace"] }
tokio = { version = "1.29.1", features = ["full"] }
reqwest = { version = "0.11.18", default-features = false }
moksha-mint = { path = "../moksha-mint" }
moksha-wallet = { path = "../moksha-wallet" }
moksha-core = { path = "../moksha-core" }
tempfile = "3.6.0"
