[package]
name = "moksha-core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "moksha_core"
path = "src/lib.rs"

[dependencies]
url = "2.4.0"
base64 = "0.21.2"
bitcoin_hashes = "0.12.0"
rand = "0.8.5"
secp256k1 = { version = "0.27.0", features = ["rand", "serde"] }
serde = { version = "1.0.177", features = ["derive"] }
serde_json = "1.0.103"
hex = "0.4.3"
serde_with = "3.1.0"
thiserror = "1.0.44"
itertools = "0.11.0"

[target.'cfg(target_family = "wasm")'.dependencies]
# getrandom is transitive dependency of rand
# on wasm, we need to enable the js backend
# see https://docs.rs/getrandom/latest/getrandom/#indirect-dependencies and https://docs.rs/getrandom/latest/getrandom/#webassembly-support
getrandom = { version = "0.2.8", features = ["js"] }

[dev-dependencies]
anyhow = "1.0.72"
