[package]
name = "moksha-wallet"
version = "0.1.0"
edition = "2021"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "moksha_wallet"
path = "src/lib.rs"

[dependencies]
anyhow = { version = "1.0.72", features = ["backtrace"] }
clap = { version = "4.3.19", features = ["derive"] }
secp256k1 = { version = "0.27.0", features = ["serde"] }
moksha-core = { path = "../moksha-core" }
serde_json = "1.0.103"
serde = "1.0.183"
rand = "0.8.5"
thiserror = "1.0.44"
async-trait = "0.1.72"
lightning-invoice = "0.23.0"
url = "2.4.0"
dirs = "5.0.1"

[target.'cfg(target_family = "wasm")'.dependencies]
ring = { version = "0.16.20", features = ["wasm32_unknown_unknown_js"] }
gloo-net = { version = "0.3.1" }
serde-wasm-bindgen = "0.5.0"
wasm-bindgen = "0.2.87"

rexie = "0.4.2"
tokio = { version = "1.29.1", features = ["rt", "sync"] }

[target.'cfg(not(target_family="wasm"))'.dependencies]
reqwest = { version = "0.11.18", features = ["serde_json", "json", "rustls-tls"], default-features = false }
tokio = { version = "1.29.1", features = ["rt", "rt-multi-thread", "macros"] }
sqlx = { version = "0.7.1", default-features = false, features = ["sqlite", "runtime-tokio-rustls", "migrate", "macros"] }

[dev-dependencies]
tempfile = "3.7.1"
